node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.log
yarn-error.log
web-build/
web-report/
desktop-build/
**/build
**/dist
**/.DS_Store
**/release
**/*.tgz
**/node_modules/